.homeConteiner{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--yellow-green100);

}
.homeConteiner > img{
    object-fit: cover;
}
.quemSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quemSomos p{
    max-width: 450px;
    text-align: justify;
}
.redesSociais{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.redesSociaisButtons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.redesSociaisButtons svg{
    font-size: 2.5rem;
}