.itemDetailContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
NavLink{
    width: 9rem;
}
.itemInfo{
    display: flex;
    margin: 2rem .75rem;
}
.itemDescription{
    display: flex;
    flex-direction:column;
}
img{
    width: 200px;
}
.buyButtons{
    display: flex;
    justify-content: space-between;
}