.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}
.cardContainer >a {
    text-decoration: none;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 16px 2px, rgba(205, 205, 207, 0.34) 0px 4px 7px -1px, rgba(205, 205, 207, 0.34) 0px 1px 0px inset;
}
.card{
    width: 200px;
    height: 260px;
    background-color: #f5f3e08f;
    border-radius: 10px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s ease-out;
    justify-content: flex-end;
}
a > .cardImage{
    width: 80px;
    margin-bottom: 9px;
    text-decoration: none;
}
a {
    display: flex;
    justify-content: center;
}

h5 {
    font-size: 18px;
}
h4{
    font-size: 20px;
}
.cardBody{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--dark-slate-gray);
}
.buyButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a > .detailItemButton{
    width: 100%;
}
.cardButtonBuy{
    background-color: var(--yellow-green);
    border-radius: 5px;
    color: var(--dark-slate-gray);
    width: 9rem;
    height: 2rem;
    font-size: 14px;
    border: none;
    transition: 0.2s ease-out;
    border: 1px solid var(--yellow-green);
    position: relative;
}
.cardButtonBuy:hover{
    box-shadow: rgba(118, 118, 118, 0.502) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardButtonBuy> span{
    position: absolute;
    right: 0px;
    top: -10px;
    font-weight: 700;
    font-size: 1.25rem;
}
