.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card{
    width: 250px;
    height: 300px;
    background-color: aquamarine;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card > img{
    width: 50px;
    align-self: center;
}
.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;

}