.cardButtonBuy{
    background-color: var(--yellow-green);
    border-radius: 5px;
    color: var(--dark-slate-gray);
    width: 9rem;
    height: 2.25rem;
    font-size: 0.9rem;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardButtonBuy:hover{
    box-shadow: rgba(118, 118, 118, 0.502) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}