.listContainer {
    display: flex;
    margin-top: 195px;
    justify-content: space-around;
    flex-direction: column;
}

@media only screen and (min-width: 768px)
{.listContainer {
    display: flex;
    margin-top: 191px;
   align-items: center;
    flex-direction: column;
}
}