.container{
    background-color: var(--yellow-green100);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}
.navBarLogo{
    display: flex;
    flex-direction: column;
}
.navBarLogo > img{
    width: 250px;
}
.navBar{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
    width: 100vw;
}
.navBar a{
    color: var(--yellow-green);
    font-weight: 600;
    text-decoration: none;
}
a.active{
    color: red;    
}
.navBar > a:hover {
    color: #55880a;
    transition: all 0.2s ease;
}
.navBarIcons{
    display: flex;
    gap: 16px;
}
.navBarIcons svg{
    font-size: 2rem;
}
.cartButton{
    position: relative;
    border: none;
}
.cartStatus{
    background-color: var(--yellow-green);
    width: 1.50rem;
    height: 1.50rem;
    color: var(--dark-slate-gray);
    position: absolute;
    font-weight: 700;
    top: 0;
    right: -0.75rem;
    font-size: 1rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px)
{
.container{
    flex-direction: row;
    justify-content: space-between;
}
}