.primary-color{
    color: #fff;
}
.secondary-color{
    color: var(--vanilla);
}
.nav-link{
    color: var(--dark-slate-gray);
}
.nav-link:hover{
    color: var(--vanilla);
}
.bg-primary-color{
    background-color: var(--yellow-green);
}
.dropdown-menu{
    background-color: var(--yellow-green);
}
.dropdown-item:hover{
    color: var(--vanilla);
    background-color: var(--yellow-green);
}