:root {
    --vanilla: #FCF5B5ff;
    --yellow-green: #a4c735;
    --mikado-yellow: #FAC424ff;
    --dark-slate-gray: #26454Bff;
    --dark-slate-gray100:#396871 ;
    --fulvous: #E98719ff;
}

.primary-color{
    color: #fff;
}
.secondary-color{
    color: var(--vanilla);
}
.nav-link{
    color: var(--dark-slate-gray);
}
.nav-link:hover{
    color: var(--vanilla);
}
.bg-primary-color{
    background-color: var(--yellow-green);
}
.dropdown-menu{
    background-color: var(--yellow-green);
}
.dropdown-item:hover{
    color: var(--vanilla);
    background-color: var(--yellow-green);
}