.cartContent {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  transform: translate(110%, 0);
  transition: all 400ms ease;
  z-index: 1000 !important;
}
.cartContentVisible {
  transform: translate(0, 0);
}
.cartContentItem {
  flex-grow: 1;
  overflow: auto;
}
.cartContentItem > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 90px;
}
.cartContentItem svg {
  width: 30px;
  height: 30px;
}
.cartButton {
  display: flex;
  flex-direction: row;
}
.cartHeader-ahgrs {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 700;
  padding: 10px;
  gap: 0.5rem;
  width: 100%;
  border-radius: 8px;
  background-color: var(--yellow-green);
}
.cartHeader-ahgrs button {
  border: none;
  background-color: transparent;
}
.cartResume {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartResume span {
  font-size: 1.5rem;
  font-weight: 700;
}
.checkoutButton {
  background-color: var(--yellow-green);
  border-radius: 5px;
  color: var(--dark-slate-gray);
  width: 9rem;
  height: 2.25rem;
  font-size: 0.9rem;
  transition: 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkoutButton:disabled{
    cursor: not-allowed;
    opacity: 70%;
}
.cardButton:hover {
  box-shadow: rgba(118, 118, 118, 0.502) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
