
.tituloCart{
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    display: flex;
}
.itemCartInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgb(226, 224, 224);
    padding-bottom: 15px;
    padding-top: 18px;
}
.tituloCart > h2 {
    font-size: 1rem;
    font-weight: 500;
}
.tituloCart > h3 {
    font-size: 1.25rem;
}

.itemCartInfo > img {
    width: 50px;
}

svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.itemCartInfo:last-child{
    border-bottom: none;
}
.botoesCarrinho{
    display: flex;
    flex-direction: column;
    margin: 20px 34px 0 0;
}

.cartRemoveItem {
    position: absolute;
    top: 5px;
    right: 0;
}
