.cartContent{
    padding-left: 10px;
    padding-top: 25px;
    width: 100%;
    max-width: 300px;
    height: 330px;
    display: flex;
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    position: fixed;
    top: 235px;
    right: 0;
    background-color: #f7f7f7;
    transform: translate(110%, 0);
    transition: all 400ms ease;
}
.cartContentVisible{
    transform: translate(0,0);
}
.cartContentItem{
    flex-grow: 1;
    overflow: auto;
}