.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 0.75rem;
    background-color: white;
}
.footerRigth{
    text-align: right;
}
.footerRigth p{
    margin-bottom: 0;
}

