.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 0.75rem;
}
.footerRigth{
    text-align: right;
}
.footerRigth p{
    margin-bottom: 0;
}
.bandeirasPagamento img{
    height: 30px;
}
