.HomeConteiner{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
}
.quemSomos, .oQueFazemos, .ondeEstamos{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    gap: 10px;
    align-items: center;

}
.oQueFazemos{
    width: 230px;

}
.ondeEstamos > button{
    text-decoration: none;
    background-color: var(--yellow-green);
    border-radius: 5px;
    color: var(--dark-slate-gray);
    width: 70%;
    font-size: 12px;
   text-align: center;
   padding: 10px 0;
   border: none;
}