:root{
  --vanilla: #FCF5B5ff;
  --yellow-green: #A4C735ff;
  --mikado-yellow: #FAC424ff;
  --dark-slate-gray: #26454Bff;
  --dark-slate-gray100:#396871 ;
  --fulvous: #E98719ff;
  --background-color: rgb(227, 234, 209);
}

* {
  font-family: 'Nunito', sans-serif;
}
