:root {
  --vanilla: #FCF5B5ff;
  --yellow-green: #a4c735;
  --mikado-yellow: #FAC424ff;
  --dark-slate-gray: #26454Bff;
  --dark-slate-gray100:#396871 ;
  --fulvous: #E98719ff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}
body {
  background-color: rgb(245, 243, 224);
}
