.finalizarCompraContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 261px 26px;
}
.finalizarComprasContent {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}
.resumoCompra{
    
    display: flex;
    background-color: #f7f7f7;
    padding-left: 8px;
    gap: 30px;
    align-items: center;
    right: 100px;
    flex-direction:
}
.dadosCliente{
    display:flex;
    flex-direction: row;
}